<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>payroll or hrms status updated template</title>
</head>

<body class="fontFamily">
    <p>Hello {{manager_name}} [{{manager_emp_code}}],</p>
    <p>We would like to inform you that the status of {{emp_name}} has been updated from {{old_status}} to {{new_status}} in our HRMS system </p>
    <p>Effective from {{date}} at {{time}} updated by {{updated_by}},</p>
    <p>If you have any pending tasks or require additional information regarding this change, please feel free to reach out to our HR department,</p>
    <p>Thank you for your attention to this matter,</p>
    <p>Please refer the link for more information {{domain}}directory </p>  
    <br>
    <p><b>Thanks &amp; Regards,</b></p>
    <p class="textItalic font120 fontWeightBolder">{{company_name}}.</p>
</body>
</html>