<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body class="fontFamily">
    <p>Dear {{name}},</p>

    <p>Congratulations and a warm welcome to our Bharath HR application!</p>
    
    <p>We are thrilled to inform you that you've successfully completed the initial setup process.
    Your company's profile is now live, and the key components such as company address, employee details, leave rules, shifts, and work week schedules are all set up and ready to go.</p>

    <p>Need Assistance?</p>
    <p>Our support team is just an email or phone call away. We are here to help you make the most out of your HRMS experience support@vitelglobal.com Contact number:+91 855478555</p>
    <br>
    <br>
    <p><b>Thanks &amp; Regards,</b></p>
    <p class="textItalic font120 fontWeightBolder">{{company_name}}.</p>
</body>
</html>