Dear {{ user }},

<br/>

<h1>This is attendance resend reminder please check you shift detailes</h1>


<ul style="list-style-type:disc;">
    <li> <strong> Attendance rule name: </strong> {{ attendance_rule_name }} </li>
    <li> <strong> Your shift intime: </strong> {{ shift_in_time }}</li>
    <li> <strong> shift out_time: </strong> {{ shift_out_time }} </li>
    <li> <strong> Grace in time: </strong> {{ grace_in_time }} </li>
    <li> <strong> Grace out time: </strong> {{grace_out_time}} </li>
    <li> <strong> Full day work duration: </strong> {{full_day_work_duration}} </li>
    <li> <strong> Half day work duration: </strong> {{half_day_work_duration}} </li>
    <li> <strong> Maximum break duration: </strong> {{max_break_duration}} </li>
    <li> <strong> Maximum breaks for day: </strong> {{max_breaks}} </li>
</ul>
