{% extends 'payroll/base/base.html' %}
{% load static %}

{% block css %}
<style>
    .avatar-upload {
        position: relative;
        max-width: 205px;
        /* margin: 50px auto; */
    }
    .avatar-upload .avatar-edit {
        position: absolute;
        right: 12px;
        z-index: 1;
        top: 10px;
    }
    .avatar-upload .avatar-edit input {
        display: none;
    }
    .avatar-upload .avatar-edit .elabe {
        display: inline-block;
        width: 34px;
        height: 34px;
        margin-bottom: 0;
        border-radius: 100%;
        background: #FFFFFF;
        border: 1px solid transparent;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        font-weight: normal;
        transition: all 0.2s ease-in-out;
    }
    .avatar-upload .avatar-edit .elabe:hover {
        background: #f1f1f1;
        border-color: #d6d6d6;
    }
    .avatar-upload .avatar-edit .elabe:after {
        content: "\f040";
        font-family: 'FontAwesome';
        color: #757575;
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
        text-align: center;
        margin: auto;
    }
    .avatar-upload .avatar-preview {
        width: 120px;
        height: 120px;
        position: relative;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    }
    .avatar-upload .avatar-preview > div {
        width: 100%;
        height: 100%;
        max-width:190px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .avatar-edit .parsley-errors-list{position: relative!important;}
    .form-group label {

        font-size: 16px;
    }

    .form-group {
        margin-bottom: 0.7rem;
    }
</style>

<style>
    #rowUd, rowUdUd {
        display: flex;      
        margin-top: 1%;
        justify-content: center;
        align-items: center;
    }

    #rowAdder, rowAdderUd {
        margin-left: 17px;
    }
    
    #rowUdUd {
        display: flex;     
        margin-top: 1%;
        justify-content: center;
        align-items: center;
    }

    #rowAdderUd {
        margin-left: 17px;
    }
</style>


<style>
    td.details-control {
        background: url('./assets/images/details_open.png') no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('./assets/images/details_open.png') no-repeat center center;
    }

    .parsley-errors {
        color: rgb(225, 88, 88);
        font-size: 0.9em;
        margin-top: 3px;
    }

    #main-content {
        margin-top: 1.5rem !important;
    }

    .BtnActive {
        background-color: #187ebe;
        border: 2px solid #187ebe;
        color: white;
        font-weight: 500;
    }   
    .prev{
        float: initial !important;       
    }
</style>
{% endblock %}

{% block main_content %}

<div class="container-fluid">

    {% include 'payroll/organization/header.html' with t4=True %}

    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="block-header">
                <h1 class="ico_head font-20"><i class="icon-grid"></i> Department Master</h1>
            </div>
        </div>
    
        <div class="col-md-8 col-sm-12 text-right">
            <!-- <button type="button" class="btn addBtn mr-2" data-toggle="modal" data-target="#addDepartmentModal">Add Department</button>                         -->
            <!-- <a href="javascript:void(0);" class="full-screen"><i class="icon-frame"></i></a> -->
        </div>
        <div class="col-md-6 col-sm-12 text-right hidden-xs"></div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 mx-auto">
            
                
            
            <div class="card">
                <div class="body shadow border-0 pt-3 pb-2">
                    <div class="text-right">
                        <button type="button" class="btn addBtn mr-2" data-toggle="modal" data-target="#addDepartmentModal"><i class="fa fa-plus mr-1" aria-hidden="true"></i> Add Department</button>    
                    </div>
                    <div class="tab-content mt-0">
                        <div class="tab-pane show active" id="l_departtypes">
                            <select class="form-control form-control NofEntriesShowSel" id="NofEntriesSel" name="NofEntriesSel" data-live-search="true">

                                <option value="10" selected>10</option>
                            
                                <option value="25" >25</option>
                            
                                <option value="50" >50</option>
                            
                                <option value="100" >100</option>
                            
                                <option value="10000" >All</option>
                            
                            </select>      
                            <div class="table-responsive">

                                    <table class="display table table-hover table-custom spacing5 mb-0" id="sortingtable">

                                    <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Department </th>
                                        <th>Sub-Department </th>                                
                                        <th>Emp Count</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                                                       
                                    </tbody>
                                </table>                               
                            </div>
                            <div class="row mt-3">
                                <div class="col-6">
                                    <div>Showing <span class="currentRecord"><span class="lastRecord"></span> of
                                            <span class="totalRecord"></span> entries</div>
                                </div>
                                <div class="col-6 text-right">
                                    <div class="btnGroup">
                                        <button type="button"
                                            class="btn btn-secondary btn-sm nav-btn prev disabled">Previous</button>
                                        <button type="button" class="btn btn-sm cpage"></button>
                                        <button type="button"
                                            class="btn btn-secondary btn-sm nav-btn nxt disabled">Next</button>
                                    </div>
                                </div>
                            </div>                        
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="getCodeModal" tabindex="-1" Desigantion="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog_box">
            <div class="modal-content">
                <div class="modal-header_box">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="javascript:load_close()"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body text-center" id="getCode"></div>
                <div class="text-center mb-3">
                    <button type="button" class="btn btn-primary modal2" data-dismiss="modal" onclick="javascript:load_close()">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Department Modal -->
    <div class="modal fade" id="addDepartmentModal" tabindex="-1" aria-labelledby="addDepartmentModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-md ">
            <div class="modal-content border-0">
                <div class="modal-header bg-my-primary">
                    <h5 class="modal-title font-20" id="addDepartmentModalLabel">Add Department </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body pb-0">
                    <div class="row justify-content-center px-4">
                        <div class="card mutt-card px-0 w-100 pb-3">
                            <form id="addNewDepartmentFormUd">
                                <fieldset>
                                    <div class="form-card">
                                        <label class="font-16 AddDeptFieldLabel font_weight_500">Department * </label>
                                        <div class="mb-2">
                                            <input type="text" class="addNewDeptNameInput form-control" name="name" id="newDeptNameInput" placeholder="New Department Name" pattern="[a-zA-Z]+" maxlength="30" required/>
                                            <small class="cust_err" id="addDept_Name_Err">Error Message</small>
                                        </div>

                                        <label class="font-16 AddDeptFieldLabel font_weight_500">Sub-Department </label>
                                        <div class="subDeptFormField mb-2" id="rowUd">                                           
                                            <input type="text" class="form-control mx-1" name="subDepartments" id="addNewSubDeptNameInput" placeholder="Sub Department" maxlength="30"/>
                                            <small class="cust_err" id="addDept_subDeptName_Err">Error Message</small>
                                        </div>

                                        <div id="newinput"></div>

                                        <div class="d-flex mb-4">
                                            <button type="button" class="btn addNewDeptBtn btn-outline-primary waves-effect" id="rowAdder">
                                                <span><i class="fa fa-plus" aria-hidden="true"></i></span>
                                                <small class="addBtnText">Add More</small>
                                            </button>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="row clearfix pt-4">
                                        
                                        <div class="col-6">
                                            <button type="button" class="btn btn-primary btn-sm modal2 addBtn btn-block" value="Cancel"  data-dismiss="modal" aria-label="Close"><i class="fa fa-times mr-1" aria-hidden="true"></i> Cancel</button>
                                        </div>
                                        <div class="col-6">
                                            <button type="submit" class="btn btn-primary btn-sm modal2 addBtn btn-block"><i class="fa fa-floppy-o mr-1" aria-hidden="true"></i> Save</button>
                                        </div>
                                    </div>
                                    
                                    
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Add Department Modal -->

    <!-- Add New Department Success Modal -->
    <div class="modal fade py-5" id="addDeptSuccessModalToggle" tabindex="-1" aria-labelledby="addDeptSuccessModalToggleDataLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered py-5">
            <div class="modal-content border py-5">
                <div class="modal-body py-5">
                    <div class="py-4 text-center">
                        <span class=" user-bg-success d-inline-block"><img src="./assets/images/user.svg" width="100" height="60" class="d-inline-block " alt="user-icon"></span>
                    </div>
                    <h4 class="text-center user-text-success">New Department Added Successfully</h4>
                </div>
            </div>
        </div>
    </div>
    <!-- /Add New Department Success Modal -->

    <!-- Edit Modal -->
    <div class="modal fade" id="dep_edit" tabindex="-1" aria-labelledby="dep_editLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content border-0">
                <div class="modal-header bg-my-primary">
                    <h5 class="modal-title font-20">Edit Department</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="editDepartmentUd">                       

                        <div class="massage"></div>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="dep-name" class="form-field-label font_weight_500">Department Name <span class="asterisk"> *</span>
                                    </label>
                                    <input type="hidden" id="dept_id">
                                    <input type="text" name="editDepartmentNameUd" id="editDepartmentNameUd" class="form-control" required minlength="4" maxlength="20" aria-required="true" />
                                    <span id="error" style="color:#E15858; font-size:0.9em;"></span>
                                    <span class="parsley-errors" id="duplicate_code1"></span>
                                    <small class="cust_err" id="editDepartmentNameUd_Err"></small>
                                </div>
                            </div>
                        </div>

                        <label class="font-16 AddDeptFieldLabel font_weight_500">Sub-Department </label>            
                        <div id="newinputUd"></div>

                        <div class="d-flex mb-4">
                            <button type="button" class="btn addNewDeptBtn btn-outline-primary waves-effect" id="rowAdderUd">
                                <span><i class="fa fa-plus" aria-hidden="true"></i></span>
                                <small class="addBtnText">Add More</small>
                            </button>
                            <div class="clearfix"></div>
                        </div>

                        <div class="row clearfix pt-3">
                            <div class="col-12">
                                <input type="hidden" name="con_mode" value="edit" />
                            </div>
                            <div class="col-6">
                                <button type="reset" value="Reset" class="btn btn-primary btn-sm modal2 addBtn btn-block"  data-dismiss="modal" aria-label="Close"><i class="fa fa-times mr-1" aria-hidden="true"></i> Cancel</button>
                            </div>
                            <div class="col-6">
                                <button type="submit" class="btn btn-primary btn-sm modal2 addBtn btn-block"><i class="fa fa-floppy-o mr-1" aria-hidden="true"></i> Update</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- /Edit Modal end-->

 
    <!-- Assigne New Designation Success Modal -->
    <div class="modal fade py-5" id="AssigneDesingationSuccessModalToggle" tabindex="-1" aria-labelledby="AssigneDesingationSuccessModalToggleDataLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered py-5">
            <div class="modal-content border py-5">
                <div class="modal-body py-5">
                    <div class="py-4 text-center">
                        <span class=" user-bg-success d-inline-block"><img src="./assets/images/user.svg" width="100" height="60" class="d-inline-block " alt="user-icon"></span>
                    </div>
                    <h4 class="text-center user-text-success">New Designation Added Successfully</h4>
                </div>
            </div>
        </div>
    </div>
    <!-- /Assigne New Designation Success Modal -->

</div>

{% endblock %}

{% block js %}

<script>
    $(document).on( "ajaxSend", function() {
      $("#AjaxCallOverlay").fadeIn(300);
    });
    let myResponseStatus;
  </script>

<script type="text/javascript">
    
    function deleteDesignationUd(deg_id) {

        conf =  confirm("Are you sure and want to delete this?");
        if(conf){
            console.log(deg_id);  
            $.ajax({
                type: "DELETE",
                url: "/api/company/update/department/"+deg_id+"/",
                dataType: 'json',
                headers: {
                    "Authorization": "Bearer "+localStorage.getItem('acc_token')
                },
                data: {
                    "deg_id":deg_id,            
                    "csrfmiddlewaretoken": '{{ csrf_token }}'
                },
                success: function(response) {
                    swal({   
                        title:"Data Deleted!!",
                        type: "success",
                        confirmButtonColor: "#007bff",
                        confirmButtonText: "Ok",
                        closeOnConfirm: true  },
                        function(isConfirm){
                            window.location.replace("/qxbox/payroll/organization/departments/");
                    });
                }
            });
        }
        
    }

    $(document).on('show.bs.modal','#dep_edit', function (event) {
        var button = $(event.relatedTarget);
        var dept_id = button.data('dept-id');
        var dept = button.data('dept');        
       
        var sub_dept = button.data('sub-dept').split(',');
        var sub_dept_id = button.data('sub-dept-id').split(',');
        var modal = $("#dep_edit");       
       
        console.log(sub_dept,sub_dept.length);            
       
        modal.find('.modal-body #editDepartmentUd #editDepartmentNameUd').val(dept);
        modal.find('.modal-body #editDepartmentUd #dept_id').val(dept_id);

        for(var j=0;j<sub_dept.length;j++){
            $("#newinputUd").append(
                `<div class="subDeptFormField mb-2" id="rowUdUd">
                            <input type="hidden" name="edit_sub_dept_id" value="`+sub_dept_id[j]+`">
                            <input type="text" class="form-control mx-1" value="`+sub_dept[j]+`" name="editSubDepartments" id="editSubDepartment" placeholder="Sub Department" pattern="[a-zA-Z]+" maxlength="30"/>
                            <small class="cust_err" id="addDept_subDeptName1_Err">Error Message</small>
                        </div>`
            )
        }
    })


    function get_dataUd(page,page_size,apiurl) {

        let apiurl = "/qxbox/api/company/v2/departments/details/{{request.session.cmp_id}}/" 
        if (apiurl){
            apiUrl = apiurl
        }else{                
            apiUrl = apiUrl + '?page='+ page
            apiUrl = apiUrl + '&page_size='+ page_size
        }        
        
        $.ajax({
            type: "GET",        
            url: apiUrl,
            dataType: 'json',            
            headers: {
                "Authorization": "Bearer "+localStorage.getItem('acc_token')
            },
            success: function (response) {
                
                $('#sortingtable').DataTable().clear().destroy()
                
                data = response['result']['results'];                             

                for(var i=0;i<data.length;i++){                  
                    subDept = [];  
                    subDeptId = [];  
                    for(var j=0;j<data[i]['subDepartments'].length;j++){
                        subDept.push(data[i]['subDepartments'][j]['name']);
                    }
                    for(var j=0;j<data[i]['subDepartments'].length;j++){
                        subDeptId.push(data[i]['subDepartments'][j]['id']);
                    }

                    $("#sortingtable tbody").append(  `
                    <tr>
                        <td>`+(i+1)+`</td>
                        <td>`+(data[i]['name'] ? data[i]['name'] : '----' )+`</td>
                        <td>`+subDept+`</td>
                        <td>`+((data[i]['noOfEmployees']) ? parseInt(data[i]['noOfEmployees']) : '0')+`</td>
                        <td>
                            
                                <button type="button" class="btn btn-sm btn-default" 
                                    data-toggle="modal" 
                                    data-dept="`+data[i]['name']+`" 
                                    data-sub-dept="`+subDept+`" 
                                    data-dept-id="`+data[i]['id']+`" 
                                    data-sub-dept-id="`+subDeptId+`" 
                                    data-target="#dep_edit"
                                    >
                                    <i class="fa fa-edit"></i>
                                </button>&nbsp;&nbsp;`
                                +(parseInt(data[i]['noOfEmployees']) < 1 ? `<button type="button" onclick="deleteDept(`+data[i]['id']+`)" class="btn btn-sm btn-default js-sweetalert" title="" data-toggle="tooltip" data-placement="top">
                                    <i class="fa fa-trash-o text-danger"></i>
                                </button>` : '')+`
                        </td>
                    </tr>  
                    `);
                     
                }

                $('#sortingtable').DataTable(
                    {
                        responsive: true,
                        pageLength: 10,
                        paginate: false,
                        info: false,                        
                        "order": [],                      
                    }
                );

                if (response['result'].previous) {
                    $('.prev').removeClass('disabled')
                    $('.prev').addClass('BtnActive')
                    $('.prev').data('url', response['result'].previous)
                } else {
                    $('.prev').addClass('disabled')
                }
                if (response['result'].next) {
                    $('.nxt').removeClass('disabled')
                    $('.nxt').addClass('BtnActive')
                    $('.nxt').data('url', response['result'].next)
                } else {
                    $('.nxt').addClass('disabled')
                }

                $('.lastRecord').text(data.length)
                $('.totalRecord').text(response['result'].count)
                $(".cpage").text(response['result'].currentPage)                                       

            }
        }).done(function() {
                
                if(myResponseStatus == true) {
                    // setTimeout(function(){
                        $("#AjaxCallOverlay").fadeOut('slow');
                    // },500);
                } else {                    
                    setTimeout(function(){
                        $("#AjaxCallOverlay").fadeOut('slow');
                    },3000);
                }
                
            }).fail(function (xhr, status, e) {                 
                swal({   
                    title: "Error",
                    type: "info",
                    showCancelButton: false,
                    confirmButtonColor: "#007bff",
                    confirmButtonText: "Ok",
                    closeOnConfirm: false,
                    closeOnCancel: true 
                });
                 setTimeout(function(){
                        $("#AjaxCallOverlay").fadeOut('slow');
                    },3000);                
            }); 

    }

    $(document).ready(function () {        
        get_dataUd(1,10,false);

    });


    var page_size = 10;

$('#NofEntriesSel').on('change', function() {
    page_size = this.value    

    get_dataUd(1,page_size,false);

});


    $('body').on('click','.nav-btn' ,function (e) {
        e.preventDefault();
        let apiurl = $(this).data('url');                           
        get_dataUd(1,page_size,apiurl)        
    })   

      $('#addNewDepartmentFormUd').submit(function(e) {
        e.preventDefault();
        var name = $('#newDeptNameInput').val();  
        
        if(!name){
            // alert("Department field should not be blank.");
            $("#addDept_Name_Err").text("Department field should not be blank");
            return false;
        }
             
        var subDepartmentsUd = new Array();
        $("input[name=subDepartments]").each(function() {
            subDepartmentsUd.push({"name":$(this).val()});
        });
 
      
          $.ajax({
            type: "POST",
            url: "/api/company/department/",
            data: JSON.stringify({
                "name":name,
                "subDepartments":subDepartmentsUd,
                "company":'{{request.session.cmp_id}}'
            }),
            contentType: 'application/json',
            dataType : 'json',
            // cache: false,
            // processData: false,
            headers: {
                "Authorization": "Bearer "+localStorage.getItem('acc_token')
            },
            success: function(response) {                
                $("#addDepartmentModal").modal('hide')
                swal({   
                    title:"Data Saved!!",
                        type: "success",
                        confirmButtonColor: "#007bff",
                        confirmButtonText: "Ok",
                        closeOnConfirm: true  },
                        function(isConfirm){
                            window.location.replace("/qxbox/payroll/organization/departments/");
                    });

            }
          }).done(function() {
                    
                    if(myResponseStatus == true) {
                        // setTimeout(function(){
                            $("#AjaxCallOverlay").fadeOut('slow');
                        // },500);
                    } else {                    
                        setTimeout(function(){
                            $("#AjaxCallOverlay").fadeOut('slow');
                        },3000);
                    }
                    
                }).fail(function (xhr, status, e) {                 
                    swal({   
                        title: "Error",
                        type: "info",
                        showCancelButton: false,
                        confirmButtonColor: "#007bff",
                        confirmButtonText: "Ok",
                        closeOnConfirm: false,
                        closeOnCancel: true 
                    });
                    setTimeout(function(){
                            $("#AjaxCallOverlay").fadeOut('slow');
                        },3000);                
                });         
      });  

    $('#editDepartmentUd').submit(function(e){
        e.preventDefault();   

        var name = $('#editDepartmentNameUd').val();  
        
        if(!name){
            // alert("Department field should not be blank.");
            $("#addDept_Name_Err").text("Department field should not be blank");
            return false;
        }
             
        let sub_ids = []
        $("input[name=edit_sub_dept_id]").each(function() {            
            sub_ids.push($(this).val());            
        });
        console.log(sub_ids);
        var subDepartmentsUd = new Array();
        let counter=0;
        $("input[name=editSubDepartments]").each(function() {            
            subDepartmentsUd.push({"id":sub_ids[counter],"name":$(this).val()});
            counter++;
        });
           

      $.ajax({
        type: "PUT",
        url: "/api/company/update/department/"+$('#editDepartmentUd #dept_id').val()+"/",        
        headers: {
            "Authorization": "Bearer "+localStorage.getItem('acc_token')
        },
        data: JSON.stringify({
                "name":name,
                "subDepartments":subDepartmentsUd,
                "company":'{{request.session.cmp_id}}'
            }),
        contentType: 'application/json',
        dataType : 'json',
        success: function(response) {
            swal({   title:"Updated",
                    type: "success",
                    confirmButtonColor: "#007bff",
                    confirmButtonText: "Ok",
                    closeOnConfirm: true  },
                    function(isConfirm){
                        window.location.replace("/qxbox/payroll/organization/departments/");
                });
      
        },
        error: function(response){            
            swal({   
                title: response,
                type: "error",
                showCancelButton: false,
                confirmButtonColor: "#007bff",
                confirmButtonText: "Ok",
                closeOnConfirm: false,
                closeOnCancel: true 
            });
        }
      });
    })
    


  </script>

<script type="text/javascript">
    $("#rowAdder").click(function () {
        
        newRowAdd =
            '<div class="subDeptFormField mb-2" id="rowUd">' +
            '<input type="text" class="form-control mx-1" name="subDepartments" placeholder="Sub Department" maxlength="30"/>' +
            '<button class="btn btn-danger" id="DeleteRow" type="button">' +
            '<i class="fa fa-trash"></i></button> </div>';

        $('#newinput').append(newRowAdd);
    });
    $("body").on("click", "#DeleteRow", function () {
        $(this).parents("#rowUd").remove();
    })
</script>


{% endblock %}
