<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body class="fontFamily">
    <p>Hello {{reporting_manager_name}} [{{emp_code}}],</p>
    <p>We have observed that there are pending approvals for anomalies submitted by your reportees.

    <p>Kindly review and approve the anomalies at your earliest convenience. If you have any queries, please do not hesitate to reach out HR Department.</p>
    <p>Anomalies Approvals are pending for the below mentioned employees.</p>
    <p>Please refer the link for more information {{domain}}.</p>
    <br>
    <table>
        <thead>
            <tr>
                <th style="text-align:left; padding-right:100px;">EmpId</th>
                <th style="text-align:left; padding-right:100px;">Name</th>
                <th style="text-align:left; paddin-left: 10px;">Department</th>
            </tr>
        </thead>
        <tbody>
            {% for item in recds %}
            <tr>
                <td style="text-align:left; padding-right:100px;">{{item.EmpId}}</td>
                <td style="text-align:left; padding-right:100px;">{{item.Name}}</td>
                <td style="text-align:left; padding-right:100px;">{{item.Department}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <p><b>Thanks &amp; Regards,</b></p> 
    <p class="textItalic font120 fontWeightBolder">{{company_name}}.</p>
</body>
</html>