{% extends 'payroll/base/base.html' %}

{% block css %}
<style type="text/css">
    .has-search .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.075rem; right:15px;
        text-align: center;
        cursor: pointer;
        color: #aaa;
    }
        /*next css*/
    .table{width:100%;}
    .top_sp{
        margin-top:20px;
    }
    .reports-header {
        margin: 30px auto 20px;
    }
    .text-center {
        text-align: center;
    }
    .table.form16-table, .table.reports-table {
        margin: 25px auto;
    }
    .zp-table {
        border-bottom: 1px solid rgba(239,236,236,.42);
        border-left: none;
        border-right: none;
    }
    .table-centered {
        width: 60%;
    }
    .table-responsive {
        overflow-x: auto;
        min-height: .01%;
    }
    .table.form16-table tbody>tr>td.sub-headder, .table.form16-table tbody>tr>th.sub-headder, .table.form16-table tfoot>tr>th.sub-headder, .table.reports-table tbody>tr>td.sub-headder, .table.reports-table tbody>tr>th.sub-headder, .table.reports-table tfoot>tr>th.sub-headder {
        border: none;
        padding-top: 20px;
        padding-bottom: 0;
    }
    .table.form16-table tbody>tr>td, .table.form16-table tbody>tr>th, .table.form16-table tfoot>tr>th, .table.reports-table tbody>tr>td, .table.reports-table tbody>tr>th, .table.reports-table tfoot>tr>th {
        border-top: 0;
        border-bottom: 1px solid #f1f1f1;
        padding: 12px 25px;
        font-size: 14px!important;
    }
    .zp-table tr td:last-of-type, .zp-table tr th:last-of-type {
        padding-right: 30px;
    }
    .zp-table tr td:first-of-type, .zp-table tr th:first-of-type {
        padding-left: 30px;
    }
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
        padding: 8px;
        line-height: 1.6;
        vertical-align: top;
        border-top: 1px solid rgba(239,236,236,.42);
    }
    .zp-table td, .zp-table thead>tr>th {
        border-color: rgba(239,236,236,.42);
        vertical-align: middle;
    }
    .zp-table thead>tr>th {
        font-weight: 400;
        background-color: #f8faff !important;
        color: #555;
        font-size: 12px;
        height: 40px;
        text-transform: uppercase;
    }
    .table.reports-table tfoot.highlight-bg>tr>th {
        background: #fcfcfc;
    }
    .table.reports-table tfoot>tr>th {
        border-top: 0;
        border-bottom: 1px solid #f1f1f1;
        padding: 12px 25px;
        font-size: 14px!important;
    }
    /*newly added*/
    .table.reports-table {
        margin: 25px auto;
    }
    .zp-table {
        border-bottom: 1px solid rgba(239,236,236,.42);
        border-left: none;
    }
    .india-reports-table, .table.zp-table.table-responsive.table-hover.reports-table.fixed-scroll-table {
        table-layout: fixed;
    }
    .table-responsive {
        overflow-x: auto;
        min-height: .01%;
    }
    .zp-table.table thead:first-child>tr:first-child>th {
        border-top: 1px solid rgba(239,236,236,.42);
        border-bottom: 1px solid rgba(239,236,236,.42);
    }
    .table.form16-table thead>tr>th, .table.reports-table thead>tr>th {
        padding: 8px 25px;
    }
    .zp-table tr td:first-of-type, .zp-table tr th:first-of-type {
        padding-left: 30px;
    }
    .zp-table thead>tr>th {
        font-weight: 400;
        background-color: #f8faff;
        color: #555;
        font-size: 12px;
        height: 40px;
        text-transform: uppercase;
    }
    .zp-table td, .zp-table thead>tr>th {
        border-color: rgba(239,236,236,.42);
        vertical-align: middle;
    }
</style>
{% endblock %}


{% block main_content %}

<div class="container-fluid">
   <div class="block-header">
        <div class="row clearfix">
            <div class="col-md-6 col-sm-12">
                <h1 class="ico_head"><i class="icon-credit-card"></i> Payroll</h1>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-12">
            <div class="card mb-2">
                <div class="body pb-0 pt-3 shadow-lg border_radius_10  pb-4">
                    <h6 class="ico_head"> Process Pay Run </h6>
                    
                        <div class="row"><br>
                           <form class="form-inline col-lg-12" method="post">{% csrf_token %}
                            <div class="col-lg-3 col-md-3 col-sm-6 ">
                                <div class="form-group">
                                    <!-- <div class="multiselect_div"> -->
                                        <div class="row  w-100">
                                            <div class="col-4"><label class="d-block pt-2">Month-Year</label></div>
                                            <div class="col-8">
                                                <select  name="month_year"  class="form-control selectpicker11 w-100 dept_id">                                            
                                            
                                                    <option value="{{month_list}}">{{month_list}}</option>
                                                
                                            </select>
                                            </div>
                                        </div>
                                        
                                        
                                    <!-- </div> -->
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <div class="form-group">
                                    <!-- <div class="multiselect_div"> -->
                                        <select  name="dept_id"  class="form-control selectpicker11 w-100 dept_id">
                                            <option value="">All Department</option>
                                            {% for i in dep_obj %}                                                
                                                <option value="{{i.id}}">{{i.name}}</option>
                                            {% endfor %}                                          
                                        </select>
                                    <!-- </div> -->
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <div class="form-group">
                                    <!-- <div class="multiselect_div"> -->
                                        <select  name="emp_id"  class="form-control selectpicker11 w-100 dept_id">
                                            <option value="">All Employees</option>                                            
                                            {% for i in emp_obj %}                                                
                                                <option value="{{i.id}}">{{i.first_name}} {{i.middle_name}} {{i.last_name}}</option>
                                            {% endfor %}
                                        </select>
                                    <!-- </div> -->
                                </div>
                            </div>
                            <div class="w-auto ml-3">
                                <button type="submit" class="btn btn-primary empbutton">Create Pay Run</button>
                            </div>
                        </form>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block js %}



{% endblock %}
