<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body class="fontFamily">
    <p>Hello {{reporting_manager_name}} [{{rp_emp_number}}]</p>

    <p>This is a gentle reminder to approve pending savings declaration approvals within your team.</p>
   
    <p>Kindly review and approve at your earliest convenience.</p>
   
    <p>Thank you for your cooperation</p>

    <br>
    <table>
        <thead>
            <tr>
                <th style="text-align:left; padding-right:100px;">Emp Id</th>
                <th style="text-align:left; paddin-left: 10px;">Emp Name</th>
                <th style="text-align:left; padding-right:100px;">Designation</th>
                <th style="text-align:left; paddin-left: 10px;">Department</th>
            </tr>
        </thead>
        <tbody>
            {% for item in recds %}
            <tr>
                <td style="text-align:left; padding-right:100px;">{{item.emp_id}}</td>
                <td style="text-align:left; padding-right:100px;">{{item.emp_name}}</td>
                <td style="text-align:left; padding-right:100px;">{{item.designation}}</td>
                <td style="text-align:left; padding-right:100px;">{{item.department}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <p><b>Thanks &amp; Regards,</b></p>
    <p class="textItalic font120 fontWeightBolder">{{company_name}}.</p>
</body>
</html>