<div class="header w-100">
    <ul class="nav nav-tabs2 text-center">
        <li class="nav-item px-0" style="width: 20%; margin-left: 20px; margin-right: 20px;">
            <a class="nav-link show pt-3 pb-3 {% if t1 %}active{% endif %}"  id="EPF_listtypes" href="/qxbox{% url 'active_employees_view' %}">Active Employees</a>
        </li>
         <li class="nav-item px-0 manage_emp" style="width: 20%; margin-left: 20px; margin-right: 20px;">
        <!-- <a class="nav-link pt-3 pb-3 {% if t2 %}active{% endif %}" id="EPF_listtypes" href="/qxbox{% url 'manage_employees_view' %}">Manage Employee</a>
        </li>
        <li class="nav-item px-0 imp_exp_leaves" style="width: 20%; margin-left: 20px; margin-right: 20px;">
            <a class="nav-link pt-3 pb-3 {% if t3 %}active{% endif %}" id="EPF_listtypes" href="/qxbox{% url 'import_leave_employees_view' %}">Import Leave/LOP</a>
        </li>
        <li class="nav-item px-0 imp_exp_leaves" style="width: 20%; margin-left: 20px; margin-right: 20px;">
            <a class="nav-link pt-3 pb-3 {% if t4 %}active{% endif %}" id="EPF_listtypes" href="/qxbox{% url 'import_overtime_employees_view' %}">Import Overtime</a>
        </li>
        <li class="nav-item px-0 imp_exp_leaves" style="width: 20%; margin-left: 20px; margin-right: 20px;">
            <a class="nav-link pt-3 pb-3 {% if t5 %}active{% endif %}" id="EPF_listtypes" href="/qxbox{% url 'import_variable_pay_employee_view' %}">Import Variable Pay</a>
        </li> -->
    </ul>
</div>
