{% load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>


<!-- Javascript -->
<script src="/qxbox{% static 'assets/js/ajax.js' %}"></script>
<script src="/qxbox{% static 'assets/bundles/libscripts.bundle.js' %}"></script>
<script src="/qxbox{% static 'assets/bundles/vendorscripts.bundle.js' %}"></script>

<script src="/qxbox{% static 'assets/bundles/datatablescripts.bundle.js' %}"></script>
<script src="/qxbox{% static 'assets/vendor/jquery-datatable/buttons/dataTables.buttons.min.js' %}"></script>
<script src="/qxbox{% static 'assets/vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js' %}"></script>
<script src="/qxbox{% static 'assets/vendor/jquery-datatable/buttons/buttons.colVis.min.js' %}"></script>
<script src="/qxbox{% static 'assets/vendor/jquery-datatable/buttons/buttons.html5.min.js' %}"></script>
<script src="/qxbox{% static 'assets/vendor/sweetalert/sweetalert.min.js' %}"></script><!-- SweetAlert Plugin Js -->
<script src="/qxbox{% static 'assets/bundles/mainscripts.bundle.js' %}"></script>
<script src="/qxbox{% static 'assets/js/pages/ui/dialogs.js' %}"></script>
<script src="/qxbox{% static 'assets/js/pages/tables/jquery-datatable.js' %}"></script>

<script src="/qxbox{% static 'assets/vendor/bootstrap-colorpicker/js/bootstrap-colorpicker.js' %}"></script><!-- Bootstrap Colorpicker Js -->
<script src="/qxbox{% static 'assets/vendor/jquery-inputmask/jquery.inputmask.bundle.js' %}"></script><!-- Input Mask Plugin Js -->
<script src="/qxbox{% static 'assets/vendor/jquery.maskedinput/jquery.maskedinput.min.js' %}"></script>
<script src="/qxbox{% static 'assets/vendor/multi-select/js/jquery.multi-select.js' %}"></script><!-- Multi Select Plugin Js -->
<script src="/qxbox{% static 'assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js' %}"></script>
<script src="/qxbox{% static 'assets/js/pages/forms/advanced-form-elements.js' %}"></script>

<script src="/qxbox{% static 'assets/vendor/parsleyjs/js/parsley.min.js' %}"></script>

<script src="/qxbox{% static 'assets/vendor/jquery-validation/jquery.validate.js' %}"></script><!-- Jquery Validation Plugin Css -->
<script src="/qxbox{% static 'assets/vendor/jquery-steps/jquery.steps.js' %}"></script><!-- JQuery Steps Plugin Js -->
<script src="/qxbox{% static 'assets/js/pages/forms/form-wizard.js' %}"></script>
<script src="/qxbox{% static 'assets/vendor/dropify/js/dropify.min.js' %}"></script>
<script src="/qxbox{% static 'assets/js/pages/forms/dropify.js' %}"></script>
<script src="/qxbox{% static 'assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script> <!--Employee payroll analytics link -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.13.7/api/sum().js"></script>
