{% extends 'payroll/base/base.html' %}

{% block main_content %}

<div class="container-fluid">

   {% include 'payroll/base/payroll-block-header.html' with t1=True %}

    <div class="block-header">
        <div class="row clearfix">
            <div class="col-md-6 col-sm-12">
                <h1 class="ico_head"><i class="fa fa-list" aria-hidden="true"></i> Payroll Components</h1>
            </div>
        </div>
    </div>
    
    <form id="basic-form" class="add-form" method="post" novalidate=""></form>
        <div class="row clearfix">
            <div class="col-lg-6">
                <div class="card">
                    <div class="body shadow border-0">
                        <div class="row clearfix">
                            <div class="col-md-6">
                                <div class="form-group demo-masked-input">
                                    <label for="epf" class="font-weight-bold font-16">EPF Number</label>
                                    <div class="input-group mb-3">
                                        <input id="epf_number" name="epf_number" value="" style="text-transform: uppercase;" readonly type="text" class="form-control" />
                                    </div>
                                    <span id="error"></span>
                                </div>
                            </div>
                            <div class="col-md-6 text-right">
                                <label class="pb-3"></label>
                                <a  href="" id="editBtn" class="btn btn-sm btn-primary text-uppercase addBtn"><i class="fa fa-edit"></i> Edit</a>
                            </div>                            
                        </div>
                        <div class="row clearfix ">
                            <div class="col-md-4">
                                <div class="form-group demo-masked-input">
                                    <label for="contribution" class="font-weight-bold font-16">Employer Contribution Rate</label>
                                    <p class="font-15">12% of Actual PF Wage</p>                                                                         
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group demo-masked-input" >
                                    <label for="econtribution" class="font-weight-bold font-16">Employee Contribution Rate</label>
                                    <p class="font-15">12% of Actual PF Wage</p> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mt-3">
                    <div class="body shadow border-0">
                        <div class="row clearfix" style="margin-bottom: 20px;margin-top:20px;">
                            <div class="col-md-12">
                                <label class="font-weight-bold font-18">Contribution Details</label>
                            </div>
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-border table-hover space0 mb-0">
                                        <thead>
                                            <tr>
                                                <th>Sub Components</th>
                                                <th>Employee's Contribution</th>
                                                <th>Employer's Contribution</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><label>Employee's Provident Fund (EPF)</label></td>
                                                <td>
                                                    <label>12.00%</label>
                                                    <label>of PF Wage</label>
                                                </td>
                                                <td>
                                                    <label>3.67%</label>
                                                    <label>of PF Wage</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><label>Employee's Pension Scheme</label></td>
                                                <td><label>NA</label></td>
                                                <td>
                                                    <label>8.33%</label>
                                                    <label>of PF Wage</label>
                                                </td>
                                            </tr>
                                            <!-- <tr>
                                                <td><label>EPF Admin Charges</label></td>
                                                <td><label>NA</label></td>
                                                <td><label>0.50%</label><label>of PF Wage</label></td>
                                            </tr> -->
                                            <tr>
                                                <td><label>EDLI Contribution</label></td>
                                                <td><label>NA</label></td>
                                                <td><label>0.50%</label><label>of PF Wage</label></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">


                <div class="card">
                    <div class="body shadow border-0">
                        <div class="row clearfix">
                            <div class="col-md-12"  style="border-bottom: dashed 1px #ddd;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group demo-masked-input">
                                            <label class="fancy-checkbox">
                                                <input type="checkbox" name="is_pf_contribution_in_ctc" id="is_pf_contribution_in_ctc"  name="checkbox" checked disabled />
                                                <span class="font-weight-bold font-16">Include employer's contribution in the CTC</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group demo-masked-input">
                                            <label class="font-weight-bold mb-0" >PF Contribution when LOP Applied</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group demo-masked-input">
                                            <label class="fancy-checkbox mb-0" >
                                                <small class="d-block font-15" style="margin-left: 1.9rem;">PF contribution will be pro-rated based on the number of days worked by the employee.</small> 
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group demo-masked-input">
                                            <label class="fancy-checkbox mb-0" ><span class="font-weight-bold font-16">Consider all applicable PF components if PF wage is less then 15k after Loss of Pay</span>
                                            <small class="d-block font-15" style="margin-left: 1.9rem;">PF wage will be computed using the salary earned in that particular month (based on LOP) rather than the actual amount mentioned in the salary structure. </small></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 pb-2"  style="border-top: dashed 1px #ddd;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="p-3 mb-3 fs font-15">
                                            <p>Example: The PF wage is ₹ 20,000. The breakup of contribution will be:</p>
                                            <p class="font-weight-500 font-18" >Employer's Contribution</p>
                                            <p>EPS = 8.33% of PF Wage (Maximum of ₹ 15,000) = 8.33% of 15000 = ₹ 1250</p>
                                            <p>EPF = 12% of PF Wage - EPS = ₹ 2400 (12% of 20000) - ₹ 1250 = ₹ 1150</p>
                                            <p class="font-weight-500 font-18">Employee's Contribution</p>
                                            <p>EPF = 12% of 20000 = ₹ 2400</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block js %}
<script>
    $(document).ready(function(){

        localStorage.setItem('acc_token','{{token}}')

        $.ajax({
            type: 'GET',
            url: "/qxbox/{% url 'get_epf_details' company_id=request.session.cmp_id %}",
            dataType: 'json',
            headers: {
                "Authorization": "Bearer "+localStorage.getItem('acc_token')
            },
            success: function (data,textStatus) {

                let resp = data[0];
                $("#epf_number").val(resp['epfNumber'])
                // $("#is_pf_contribution_in_ctc").prop("checked", resp['isEmployerContributionInCtc']);
                $('#editBtn').attr('href',"/qxbox/payroll/epf-details-edit/"+resp['id'])

            },
            error:function(xhr, status, e) {
                alert('Error');
            }
        })
    })
</script>


{% endblock %}
